
.navbar {
    width: 100%;
    background-color: whitesmoke;
    padding: 50px 0;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1200px; /* Adjust this value based on your design preferences */
    margin: 0 auto;
}

.navbar-menu li {
    flex: 1;
    text-align: center;
}

.navbar-menu li.navbar-logo {
    flex: 0 0 auto; /* Don't grow or shrink, stay at auto width */
    margin: 0 20px; /* Adjust spacing around the logo */
}

.navbar-menu li a {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
    display: block; /* Make the entire area clickable */
    white-space: nowrap; /* Prevent text from wrapping */
}

.navbar-menu li a:hover {
    color: #ff6600; /* Color on hover */
}

.navbar-logo img {
    height: 100px; /* Adjust the logo size */
    display: block;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
    }

    .navbar-menu li {
        margin: 10px 0;
        width: 100%;
    }

    .navbar-logo img {
        margin: 15px 0;
    }
}